
<div class="container">
    <div class="row">
        <div class="col-sm py-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/mevn.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MEVN Stack Development</h5>
                    <p class="card-text">The MEVN (MongoDB, Express.js, Vue.js, and Node.js) stack is used for web
                        development, just like the MEAN and MERN stacks.</p>
                    <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Untitled.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MEAN Stack Development</h5>
                    <p class="card-text">The MEAN (MongoDB, Express.js, AngularJS, and Node.js) stack is the best choice
                        for building complex website.</p>
                    <a href="#" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/mern2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MERN Stack Development</h5>
                    <p class="card-text">The best way to build software is to use the MERN (MongoDB, Express.js, React,
                        and Node.js) stack and.</p>
                    <a href="#" class="btn btn-primary">Enroll Noww</a>
                </div>
            </div>
        </div>
    </div>
</div>