<div id="springBoot">
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src= "./assets/sp.jpg" alt="" id="sp2">
            </div>
            <div class="flip-box-back">
                <img src= "./assets/sp.jpg" alt="" id="sp2">
            </div>
        </div>
    </div>
    <p >
        
        Spring Framework offers a dependency injection feature that lets objects define their own dependencies that the
        Spring container later injects into them. This enables developers to create modular applications consisting of
        loosely coupled components that are ideal for microservices and distributed network applications.
    
        Spring Framework also offers built-in support for typical tasks that an application needs to perform, such as data
        binding, type conversion, validation, exception handling, resource and event management, internationalization, and
        more. It integrates with various Java EE technologies such as RMI (Remote Method Invocation), AMQP (Advanced Message
        Queuing Protocol), Java Web Services, and others. In sum, Spring Framework provides developers with all the tools
        and features the need to create loosely coupled, cross-platform Java EE applications that run in any environment.
    </p>

</div>
