<h1 style="text-align: center;">Welcome to Angular Docs</h1>
<div class="row">
    <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h1.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h2.png" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h5.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>
    <div class="w-100"></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h3.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h4.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img class="card-img-top k" src="./assets/h6.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
      </div></div>s
  </div>
