
<div id="java">
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="./assets/java.jpg" alt="" id="java2">
               

            </div>
            <div class="flip-box-back">
                <img src="./assets/java.jpg" alt="" id="java2">
            </div>
        </div>
    </div>
    <p>Java is a class-based, object-oriented programming language that is designed to have as few implementation
        dependencies as possible. It is intended to let application developers write once, and run anywhere (WORA),
        meaning
        that compiled Java code can run on all platforms that support Java without the need for recompilation. Java was
        first released in 1995 and is widely used for developing applications for desktop, web, and mobile devices. Java
        is
        known for its simplicity, robustness, and security features, making it a popular choice for enterprise-level
        applications.</p>


</div>

<!-- <p >
    Java is a class-based, object-oriented programming language that is designed to have as few implementation
    dependencies as possible. It is intended to let application developers write once, and run anywhere (WORA),
    meaning
    that compiled Java code can run on all platforms that support Java without the need for recompilation. Java was
    first released in 1995 and is widely used for developing applications for desktop, web, and mobile devices. Java
    is
    known for its simplicity, robustness, and security features, making it a popular choice for enterprise-level
    applications.

    JAVA was developed by James Gosling at Sun Microsystems Inc in the year 1995 and later acquired by Oracle
    Corporation. It is a simple programming language. Java makes writing, compiling, and debugging programming easy.
    It
    helps to create reusable code and modular programs. Java is a class-based, object-oriented programming language
    and
    is designed to have as few implementation dependencies as possible. A general-purpose programming language made
    for
    developers to write once run anywhere that is compiled Java code can run on all platforms that support Java.
    Java
    applications are compiled to byte code that can run on any Java Virtual Machine. The syntax of Java is similar
    to
    c/c++.</p> -->