<!-- <div class="row gallery2">
    <div class="col-6 col-sm-3"><a data-modal="bs-lightbox" href=".\assets\g1.jpg">
            <img src=".\assets\g1.jpg" class="gallery" />
        </a></div>
    <div class="col-6 col-sm-3"><a data-modal="bs-lightbox" href=".\assets\g2.webp">
            <img src=".\assets\g2.webp" class="gallery" />
        </a></div> -->

    <!-- Force next columns to break to new line --> -->
     <!-- <div class="w-100"></div>

    <div class="col-6 col-sm-3"><a data-modal="bs-lightbox" href=".\assets\g3.webp">
            <img src=".\assets\g3.webp" class="gallery" />
        </a></div>
    <div class="col-6 col-sm-3"><a data-modal="bs-lightbox" href=".\assets\g4.jpg">
            <img src=".\assets\g4.jpg" class="gallery" />
        </a></div>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div  class="col-6" *ngFor = 'let lst of appList'>
      <div class="col">Column</div>
      <img [src] = 'lst.url'>
      
    </div>
    </div>
  </div> -->


  <div class="row gwhole">
	<a href="./assets/g1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="./assets/g1.jpg" class="img-fluid g1">
	</a>
	<a href=".\assets\g2.webp" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src=".\assets\g2.webp" class="img-fluid g1">
	</a>
	<a href=".\assets\g3.webp" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src=".\assets\g3.webp" class="img-fluid g1">
	</a>
</div>
<div class="row gwhole">
	<a href=".\assets\g4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src=".\assets\g4.jpg" class="img-fluid g1">
	</a>
	<a href=".\assets\lb1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src=".\assets\lb1.jpg" class="img-fluid g1">
	</a>
	<a href=".\assets\lb2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src=".\assets\lb2.jpg" class="img-fluid g1">
	</a>
</div>