<div class="container card mt-5 mb-5 ">
        <div class="card-header">
            <h2 class="card-title py-0" style="text-align: center;">RPA</h2>
        </div>
        <div class="row">
            <div class="col">
                <img src="./assets/rpa3.webp" alt="" id="angular2">
            </div>
            <div class="col-10 card-body">
                <p class="card-text"> Angular is an open-source, JavaScript framework written in TypeScript. Google
                    maintains it, and its primary purpose
                    is to develop single-page applications. <br> a framework, Angular has clear advantages while also
                    providing a standard
                    structure for developers to work with. It enables users to create large applications in a maintainable
                    manner.<br>
                    “Angular” is the catch-all term for the various framework versions out there. Angular was developed in
                    2009, and as
                    a result, there have been many iterations.<br>
    
                    First, there was the original Angular, called Angular 1 and eventually known as AngularJS. Then came
                    Angulars 2, 3,
                    4, 5, until finally, the current version, Angular 11, released on 11/11/2020. Each subsequent Angular
                    version<br>
                    </p>
                <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
        </div>