<!-- <div> -->
  <!-- <router-outlet></router-outlet>    -->
  <!-- </div>
  <div>
  <ul class="nav navbar-nav">
  <li>
  <a routerLink="about">About</a>
  </li>
  <li>
  <a routerLink="services">Services</a>
  </li>
  <li>
    <a routerLink="contact-us">Contact-Us</a>
    </li>
  </ul>
  </div> -->
  <h1>Hello are live</h1>
  <app-navbar></app-navbar>
  <router-outlet class="custom-router-outlet"></router-outlet> 
  <app-header></app-header>
  
  <!-- <app-gallery></app-gallery> -->
  <!-- <app-contact-us></app-contact-us> -->
  <!-- <app-java></app-java> -->
  <app-footer></app-footer>