<!-- <div id="angular">
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="./assets/angular.jpg" alt="" id="angular2">
            </div>
            <div class="flip-box-back">
                <img src="./assets/angular.jpg" alt="" id="angular2">
            </div>
        </div>
    </div>
    <p>
        Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary
        purpose
        is to develop single-page applications. As a framework, Angular has clear advantages while also providing a
        standard
        structure for developers to work with. It enables users to create large applications in a maintainable manner.
        “Angular” is the catch-all term for the various framework versions out there. Angular was developed in 2009, and
        as
        a result, there have been many iterations.

        First, there was the original Angular, called Angular 1 and eventually known as AngularJS. Then came Angulars 2,
        3,
        4, 5, until finally, the current version, Angular 11, released on 11/11/2020. Each subsequent Angular version
        improves on its predecessor, fixing bugs, addressing issues, and accommodating increasing complexity of current
        platforms.

        If you want to design apps better suited for mobile devices, and/or more complex apps, you had best to upgrade
        to
        its current version.</p>

</div> -->

<!-- <p >
    Java is a class-based, object-oriented programming language that is designed to have as few implementation
    dependencies as possible. It is intended to let application developers write once, and run anywhere (WORA),
    meaning
    that compiled Java code can run on all platforms that support Java without the need for recompilation. Java was
    first released in 1995 and is widely used for developing applications for desktop, web, and mobile devices. Java
    is
    known for its simplicity, robustness, and security features, making it a popular choice for enterprise-level
    applications.

    JAVA was developed by James Gosling at Sun Microsystems Inc in the year 1995 and later acquired by Oracle
    Corporation. It is a simple programming language. Java makes writing, compiling, and debugging programming easy.
    It
    helps to create reusable code and modular programs. Java is a class-based, object-oriented programming language
    and
    is designed to have as few implementation dependencies as possible. A general-purpose programming language made
    for
    developers to write once run anywhere that is compiled Java code can run on all platforms that support Java.
    Java
    applications are compiled to byte code that can run on any Java Virtual Machine. The syntax of Java is similar
    to
    c/c++.</p> -->


<!-- <div class="card">
    <div class="card-header">
        <h2 class="card-title py-0" style="text-align: center;">JAVA</h2>
    </div> -->

<!-- <div class="card-body">
        <div class="container java">
            <div class="row">
                <div class="col">
                    
                </div>
                <div class="col-8">
                    <p class="card-text">Java is a class-based, object-oriented programming language that is designed to
                        have as few implementation
                        dependencies as possible. It is intended to let application developers write once, and run
                        anywhere (WORA),
                        meaning
                        that compiled Java code can run on all platforms that support Java without the need for
                        recompilation. Java was
                        first released in 1995 and is widely used for developing applications for desktop, web, and
                        mobile devices. Java
                        is
                        known for its simplicity, robustness, and security features, making it a popular choice for
                        enterprise-level
                        applications.</p>
                </div>

            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->

    <div class="container card mt-5 mb-5 ">
        <div class="card-header">
            <h2 class="card-title py-0" style="text-align: center;">JAVA</h2>
        </div>
        <div class="row">
            <div class="col">
                <img src="./assets/Devops.jpg" alt="" id="angular2">
            </div>
            <div class="col-10 card-body">
                <p class="card-text"> Angular is an open-source, JavaScript framework written in TypeScript. Google
                    maintains it, and its primary purpose
                    is to develop single-page applications. <br> a framework, Angular has clear advantages while also
                    providing a standard
                    structure for developers to work with. It enables users to create large applications in a maintainable
                    manner.<br>
                    “Angular” is the catch-all term for the various framework versions out there. Angular was developed in
                    2009, and as
                    a result, there have been many iterations.<br>
    
                    First, there was the original Angular, called Angular 1 and eventually known as AngularJS. Then came
                    Angulars 2, 3,
                    4, 5, until finally, the current version, Angular 11, released on 11/11/2020. Each subsequent Angular
                    version<br>
                    </p>
                <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
        </div>