<div class="container card mt-5 mb-5 ">
    <div class="card-header">
        <h2 class="card-title py-0" style="text-align: center;">MEAN STACK DEVELOPMENT</h2>
    </div>
    <div class="row">
        <div class="col">
            <img src="./assets/Untitled2.jpg" alt="" id="angular2">
        </div>
        <div class="col-10 card-body">
            <!-- <p class="card-text">
            </p> -->
            <ul class="card-text">
                <li>The MEAN stack is a JavaScript-based framework for developing web applications. MEAN
                    is named after MongoDB, Express, Angular, and Node, the four key technologies that make up the
                    layers of
                    the stack.</li>
                MongoDB — document database <br>
                Express(.js) — Node.js web framework <br>
                Angular(.js) — a client-side JavaScript framework <br>
                Node(.js) — the premier JavaScript web server <br>
                <li>The MEAN architecture is designed to make building web applications in JavaScript and handling JSON
                    incredibly easy.</li>
                <li> Angular.js allows you to extend your HTML tags with metadata in order to create dynamic,
                    interactive web
                    experiences much more powerfully than, say, building them yourself with static HTML and JavaScript
                    (or
                    jQuery).</li>
            </ul>
            <a href="#" class="btn btn-primary">Enroll Now</a>
        </div>
    </div>