#home{
    border: 2px solid black;
    color: black;
    font-size: 50px;

}
#img{
    height: 200px;
    width: 200px;
}
#text2{
font-size: 15px;
width: 1020px;
height: 100px;
color: black;
font-weight: 40px;
font-size: 30px;

}
